---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import ApproachSection from "../components/ApproachSection.astro";
import YoutubeSection from "../components/YoutubeSection.astro";
import ResourcesSection from "../components/ResourcesSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <YoutubeSection />
    <ApproachSection />
    <ResourcesSection />
  </main>
  <Footer />
</Layout>
